<ion-header no-border padding>
  <button ion-button icon-only clear (click)="goBack()">
    <ion-icon name="ios-arrow-back"></ion-icon>
    <ion-icon name="folder"></ion-icon>
  </button>
  <span>{{ album.title }}</span>
</ion-header>

<ion-content padding>
  <!--<img [src]="'http://' + image.direct_link" *ngFor="let image of images">-->


  <ul class="images-grid">
    <li *ngFor="let image of images">
      <img [src]="'http://' + image.direct_link">

      <a class="select" href="#" (click)="openImage(image)">
        <ion-icon name="ios-checkmark"></ion-icon>
        <span>Select</span>
      </a>
    </li>
  </ul>

</ion-content>
