page-album {
  .scroll-content {
    margin-top: 102px !important;
  }

  .infinite-scroll {
    height: 100%;
    &.hide {
      display: none;
    }
  }
  .images-grid {
    text-align: center;
    padding: 0;
    margin: auto;

    li {
      vertical-align: top;
      display: inline-flex;
      text-align: center;
      width: 200px;
      height: 220px;
      margin: 10px;
      position: relative;
      &:hover {
        .tooltip-text {
          visibility: visible;
          opacity: 0.8;
        }
      }
      .image {
        background-color: #f3f3f3;
        border-radius: 6px;
        -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
        position: relative;
        overflow: hidden;
        display: flex;
        text-align: center;
        width: 100%;
      }
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
      .select {
        display: block;
        margin: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #075bb4;
        background-color: #f3f3f3;
        text-align: left;
        padding: 2px 6px;
        &:hover {
          opacity: 1;
        }
        .icon {
          font-size: 2.5rem;
          line-height: 2rem;
          vertical-align: middle;
          font-weight: bold;
        }
        span {
          text-decoration: underline;
        }
      }
      .tooltip-text {
        width: 100%;
        visibility: hidden;
        background-color: #555;
        color: #fff;
        text-align: left;
        border-radius: 2px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 100%;
        margin-top: 5px;
        opacity: 0;
        transition: opacity 0.5s;
        font-size: 1.2rem;
        .row {
          margin: 2px 0;
        }
        .col {
          padding: 0 4px;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent #555 transparent;
        }
      }
    }
  }
}
