page-image {
  .scroll-content {
    margin-top: 102px !important;
  }
  .image {
    max-width: 800px;
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .info {
    max-width: 800px;
    width: 80%;
    margin: auto;
  }
}
