<ion-header padding>
  <button ion-button icon-only clear (click)="goBack()">
    <ion-icon name="ios-arrow-back"></ion-icon>
  </button>
  <span class="title">{{ image.name }}</span>
</ion-header>

<ion-content padding>
  <div class="image">
    <img [src]="image.link">
  </div>

  <div class="info">
    <p>Image name: {{ image.name }}</p>
    <p>Image resolution: {{ image.width + 'x' + image.height }}</p>
    <div *ngIf="image.tags.length">
      <p>Keywords:</p>
      <ul>
        <li *ngFor="let tag of image.tags">{{ tag }}</li>
      </ul>
    </div>
  </div>

</ion-content>
